In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats

## 1. A bank found that the average number of cars waiting during the noon hour at a drive-up window follows a Poisson distribution with a mean of 2 cars. Make a chart of this distribution and answer these questions concerning the probability of cars waiting at the drive-up window.

What is the probability that no cars drive up in the noon hour?
What is the probability that 3 or more cars come through the drive through?
How likely is it that the drive through gets at least 1 car?

What is the probability that no cars drive up in the noon hour?

In [5]:
avg_car_per_hour = 2

stats.poisson(avg_car_per_hour).pmf(0)

0.1353352832366127

hat is the probability that 3 or more cars come through the drive through?

In [6]:
stats.poisson(avg_car_per_hour).pmf(3)

0.18044704431548356

How likely is it that the drive through gets at least 1 car?

In [7]:
stats.poisson(avg_car_per_hour).sf(1)

0.5939941502901616

## Grades of State University graduates are normally distributed with a mean of 3.0 and a standard deviation of .3. Calculate the following:

What grade point average is required to be in the top 5% of the graduating class?

In [8]:
stats.norm(3, 0.3).isf(.05)

3.4934560880854417

What GPA constitutes the bottom 15% of the class?

In [9]:
stats.norm(3, 0.3).ppf(.15)

2.689069983151863

An eccentric alumnus left scholarship money for students in the third decile from the bottom of their class. Determine the range of the third decile. Would a student with a 2.8 grade point average qualify for this scholarship?

In [21]:
stats.norm(3, 0.3).isf(.75)

2.7976530749411754

If I have a GPA of 3.5, what percentile am I in?

In [24]:
stats.norm(3, 0.3).sf(3.5)

0.0477903522728147

## A marketing website has an average click-through rate of 2%. One day they observe 4326 visitors and 97 click-throughs. How likely is it that this many people or more click through

In [10]:
avg_click_through = 0.02
n_trials = 4326

stats.binom(n_trials, avg_click_through).cdf(97)

0.8821846941402154

## You are working on some statistics homework consisting of 100 questions where all of the answers are a probability rounded to the hundreths place. Looking to save time, you put down random probabilities as the answer to each question.

## What is the probability that at least one of your first 60 answers is correct?

In [29]:
right_answer_p = 0.000137
n_trials = 60

stats.binom(n_trials, right_answer_p).sf(1)

3.304566089339202e-05

## The codeup staff tends to get upset when the student break area is not cleaned up. Suppose that there's a 3% chance that any one student cleans the break area when they visit it, and, on any given day, about 90% of the 3 active cohorts of 22 students visit the break area. How likely is it that the break area gets cleaned up each day? How likely is it that it goes two days without getting cleaned up? All week?

How likely is it that the break area gets cleaned up each day?

In [16]:
clean = 0.03
n_trials = (3*22)*0.9

stats.binom(n_trials, clean).sf(1)

0.5353588059898826

How likely is it that it goes two days without getting cleaned up?

In [17]:
clean = 0.03
n_trials = (3*22)*0.9*2

stats.binom(n_trials, clean).cdf(0)

0.026821436301629097

All week?

In [20]:
clean = 0.03
n_trials = (3*22)*0.9*5

stats.binom(n_trials, clean).cdf(0)

0.00011781621791055166

## You want to get lunch at La Panaderia, but notice that the line is usually very long at lunchtime. After several weeks of careful observation, you notice that the average number of people in line when your lunch break starts is normally distributed with a mean of 15 and standard deviation of 3. If it takes 2 minutes for each person to order, and 10 minutes from ordering to getting your food, what is the likelihood that you have at least 15 minutes left to eat your food before you have to go back to class? Assume you have one hour for lunch, and ignore travel time to and from La Panaderia.

In [ ]:
## Mean 15 in line, STD 3 
## 2 mins to order 
## 10 mins to get food

#p45 mins get the food.

## Connect to the employees database and find the average salary of current employees, along with the standard deviation. For the following questions, calculate the answer based on modeling the employees salaries with a normal distribution defined by the calculated mean and standard deviation then compare this answer to the actual values present in the salaries dataset.

In [30]:
from pydataset import data

In [38]:
from env import get_db_url
url = get_db_url("employees")

In [42]:
employees_sql_query = '''
                     SELECT *
                     FROM employees;
                     '''

In [43]:
employees =pd.read_sql(employees_sql_query, get_db_url("employees"))
employees.head()

   emp_no  birth_date first_name last_name gender   hire_date
0   10001  1953-09-02     Georgi   Facello      M  1986-06-26
1   10002  1964-06-02    Bezalel    Simmel      F  1985-11-21
2   10003  1959-12-03      Parto   Bamford      M  1986-08-28
3   10004  1954-05-01  Chirstian   Koblick      M  1986-12-01
4   10005  1955-01-21    Kyoichi  Maliniak      M  1989-09-12

In [ ]:
salary = pd.read_sql("""SELECT * FROM salary """, get_db_url("employees"))

ProgrammingError: (pymysql.err.ProgrammingError) (1146, "Table 'employees.salary' doesn't exist")
[SQL: SELECT * FROM salary ]
(Background on this error at: https://sqlalche.me/e/14/f405)